@model IEnumerable<EMarket.Models.Product>


    @{
        ViewBag.Title = "ListOfProducts";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <head>
        
        
        <style>
            /* Remove the navbar's default rounded borders and increase the bottom margin */
            .navbar {
                margin-bottom: 50px;
                border-radius: 0;
            }

            /* Remove the jumbotron's default bottom margin */
            .jumbotron {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            /* Add a gray background color and some padding to the footer */
            footer {
                background-color: #0094ff;
                padding: 25px;
            }

           .container-fluid {
               margin-bottom: 20px;
               margin-top: 20px;
           }

           .form-control {
               margin-bottom: 5px;
           }

           

           .data {
               margin-top: 20px;
               margin-right: 10px;
           }

            .btn {
                border-radius: 12px;
            }

            .pageFooter {
                margin-top: 850px;
            }

            .panel {
                margin-right: 5px;
            }

            .btn-danger {
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>

        <div class="page-header">

            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Go To Cart List</button>

        </div>


        <div class="jumbotron">
            <div class="container text-center">
                <h1>ZERO Store</h1>
                <p>For Online Shopping</p>
            </div>
        </div>


        <div class="pull-right">
            <a href="@Url.Action("AddProduct", "Products")"><button class="btn btn-success">Add Product</button> </a>
        </div>


        <div class="container-fluid">
            @using (Html.BeginForm("ListOfProducts", "Products", FormMethod.Get))
            {
                <label for="search" style="font-size:20px" class="text-danger">Filter: </label>
                @Html.TextBox("searching")<input type="submit" value="Filter" />

            }
        </div>





        @foreach (var i in Model)
        {
            <div class="container col-md-2 col-sm-4 col-xs-6">
                <div class="row">
                    <div class="panel panel-primary" style="display: inline-block">
                        <div class="panel-heading text-center">@i.name</div>
                        <div class="panel-body"><a href="@Url.Action("Details", "Products", new { name=i.name })"><img src="~/Uploads/@i.image" class="img-responsive" style="width:175px; height:200px;" id="@i.id"></a></div>
                        <div class="panel-footer text-center">@i.price EG</div>
                    </div>


                    <div>
                        <a href="@Url.Action("AddToCart", "Products", new { prodId = i.id})"><button class="btn btn-danger btn-sm">Add To Cart</button></a>
                    </div>

                </div>
            </div>
        }




    </body>
    
    <div class="pageFooter">
        <footer>
            <p>&copy; @DateTime.Now.Year - ZERO Store</p>
        </footer>
    </div>
